{% extends "base.html" %}
{% block content %}
  <div class="container-fluid mt-3 mx-2">
      <h2 class="text-center"><u> Pgbench </u></h2>

    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pgbench-modal">
          Pgbench scripting
        </button>
      </div>
    </div>
  </div>
<!--  Modal for generating the file through the necessary information  -->
<div class="modal fade" id="pgbench-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pgbench Script form </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="generation/">
              {% csrf_token %}
          <div class="form-group row">
            <label for="filename" class="col-3 col-form-label">File :</label>
            <div class="col-9">
              <input type="text" class="form-control" id="filename" name="filename" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="dbname" class="col-3 col-form-label">Database :</label>
            <div class="col-9">
              <input type="text" class="form-control" id="dbname" name="databasename" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="timing" class="col-3 col-form-label">Timing :</label>
            <div class="col-9">
              <input type="number" class="form-control" id="timing" name="timing" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="scaling" class="col-3 col-form-label">Scaling :</label>
            <div class="col-9">
              <input type="number" class="form-control" id="scaling" name="scaling" min="1" max="100" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Execute</button>
            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}